* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #ffe1c99d;

}

header {
    background-color: #16453f;
    color: white;
    padding: .5rem 1.5rem .5rem;
    text-align: center;
}


nav {
    display: flex;
    justify-content: center;
    gap: 3rem;

    width: 100%;
    padding: .3rem 1rem .3rem 1rem;
    text-align: center;
    background-color: #cdbb93;

}

nav a {
    color: #16453f;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: left;

    max-width: 960px;
    margin: 2rem auto;
    padding: 1.5rem;
}

.ejercicio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabla-scroll{
    width: 60%;
    margin: 0;
    background-color: #fffff7;
}

.tabla-scroll thead{
    background-color: #16453f;
    font-style: italic;
    color: #fffff7;
    
}

.tabla-scroll table{
    border-collapse: collapse;
}

.tabla-scroll th{
    margin: 0;
    padding: .6rem;

}

.tabla-scroll td{
    text-align: center;
    padding: .3rem;
}
.tabla-scroll tr:nth(even){
    background-color: #6b6b6b;
}

.ejercicio h2{
    width: 100%;


    padding: .8rem;
    color: #fffff7;
    background-color: #16453f;
}


footer {
    text-align: center;
    padding: 1rem;
    color: #6b6b6b;
    font-size: 0.875rem;

}